doctype html
html
    head
        title= title
        link(rel='stylesheet', href='/vendor/bower_components/bootstrap/dist/css/bootstrap.css')
        link(rel='stylesheet', href='/stylesheets/style.css')
    body
        div.navbar.navbar-inverse.navbar-fixed-top
            div.container
                div.navbar-header
                    a.navbar-brand(href="/")= projectName