div.row
    div.col-lg-4
        div.form-group
            label.control-label(for="name") Название проекта:
            input#name.form-control(type="text", name="name")
        div.form-group
            label.control-label(for="shortName") Короткий код проекта:
            input#shortName.form-control(type="text", name="shortName")
        div.form-group
            label.control-label(for="description") Описание проекта:
            textarea#description.form-control(rows="5", name="description")
        div.form-group
            div.row
                label.col-xs-12.control-label(for="startDate") Дата начала проекта:
            div.row
                div.col-xs-12
                    input#startDate.form-control(type="date", name="startDate")
    div.col-lg-8
        div.row
            div.col-lg-6
                div.form-group
                    div.row
                        label.col-xs-12.control-label(for="daysInSprint") Длительность спринта:
                    div.row
                        div.col-xs-12
                            select#daysInSprint.form-control(name="daysInSprint")
                                option(value="week") Неделя
                                option(value="2weeks") 2 недели
                                option(value="month") Месяц
                div.form-group
                    div.row
                        label.col-xs-12.control-label(for="sprintCount") Длительность проекта:
                    div.row
                        div.col-xs-12
                            div.input-group
                                input#sprintCount.form-control(type="number", name="sprintCount")
                                span.input-group-addon  спринтов
                div.form-group
                    div.row
                        label.col-xs-12.control-label(for="bufferCount") Длительность буфера проекта:
                    div.row
                        div.col-xs-12
                            div.input-group
                                input#bufferCount.form-control(type="number", name="bufferCount")
                                span.input-group-addon  спринтов
                div.form-group
                    div.row
                        label.col-xs-12.control-label(for="endDate") Планируемая дата завершения:
                    div.row
                        div.col-xs-12
                            input#endDate.form-control(type="date" disabled)
            div.col-lg-6
                div.form-group
                    div.row
                        label.col-xs-12.control-label(for="startTaskStatus") Стартовый статус тикета:
                    div.row
                        div.col-xs-12
                            input#startTaskStatus.form-control(type="text", name="startTaskStatus")
                div.form-group
                    div.row
                        label.col-xs-12.control-label(for="EndTaskStatus") Финишный статус тикета:
                    div.row
                        div.col-xs-12
                            input#EndTaskStatus.form-control(type="text", name="EndTaskStatus")
                div.form-group
                    div.row
                        label.col-xs-12.control-label(for="storyPointHour") Длительность 1 SP:
                    div.row
                        div.col-xs-12
                            div.input-group
                                input#storyPointHour.form-control(type="number", name="storyPointHour")
                                span.input-group-addon часов
                div.form-group
                    div.row
                        label.col-xs-12.control-label(for="updatePeriod") Обновлять раз в:
                    div.row
                        div.col-xs-12
                            select#updatePeriod.form-control(name="updatePeriod")
                                option(value="0") Не обновлять
                                option(value="5") 5 минут
                                option(value="15") 15 минут
                                option(value="60") 1 час
                                option(value="1440") Раз в сутки
            div.col-lg-12
                div.form-group
                    label.control-label(for="jqlFilter") Запрос в JIRA:
                    textarea#jqlFilter.form-control(rows="2", name="jqlFilter")