include includes/header_auth
div.container
    fieldset.add-new-project
        legend Добавление нового проекта
        form(method="post" action="/project/new")
            div.rov
                //include includes/save_project_error
            include includes/project_settings_form
            div.rov
                div.col-lg-3.col-lg-offset-5
                    button.btn.btn-success(type="submit") Создать
                    a.btn.btn-default(role="button" href="/") Отмена